@use '../../styles/variables.scss' as var;

.select {
  fieldset {
    border: 1px solid var.$light_text;
    height: 4.5rem;

    border-radius: var.$radius;
    -webkit-border-radius: var.$radius;
    -moz-border-radius: var.$radius;
    -ms-border-radius: var.$radius;
    -o-border-radius: var.$radius;

    position: relative;

    legend {
      margin-left: 1.5rem;
      color: var.$dark_text;
      font-size: 1rem;
      padding: 0 0.5rem;
      z-index: 10000000 !important;
    }

    &:focus-within {
      border: none;

      legend {
        display: none;
      }
    }
  }
}

.select__holder {
  width: 100%;
  height: 100%;
  padding-left: 1.5rem;
  padding-right: 0.5rem;

  select {
    width: 100%;
    height: 100%;
    padding: 0;
    border: 0;
    color: var.$light_text;

    &:focus {
      outline: none;
    }
  }
}
