@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,400;0,500;0,600;0,700;0,800;1,500&family=Inter:wght@300;400&family=Lato:wght@100;300;400;700&display=swap');

$app-font: 'Lato', sans-serif;

$main_font: 1.6rem;
$font__wight: 400;

// color
$white_bg: #ffffff;
$grey_bg: #e5e5e5;
$dark_text: #343434;
$mid_text: #616161;
$light_text: #adb7be;
$green: #46c35f;
$blue: #0d7590;

$transition: all 0.3s linear;
