@use '../../styles/variables' as var;

.modal {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: scroll;
  -webkit-overflow-scrolling: touch;

  &__content {
    background-color: transparent;
    min-width: 90vw !important;
    overflow-x: scroll;
    position: absolute;
    top: 1rem;

    display: flex;
    flex-direction: column;
  }
}
