@use '../../styles/variables.scss' as varr;

.table__container {
  background-color: varr.$white_bg;
  margin-top: 3rem;
  padding: 3rem 3rem;

  width: 100%;

  box-shadow: 0px 0px 8px rgba(38, 50, 56, 0.07);
}

.table__wrapper {
  overflow-y: scroll;
  height: 60vh !important;
}

.table {
  width: 100%;
  position: relative;

  @media only screen and (max-width: 1300px) {
    width: 1150px;
  }

  &__head {
    position: sticky;
    top: 0;
    width: 90% !important;

    th {
      text-align: start;
      font-weight: 600;
      font-size: 14px;
      line-height: 17px;
      padding-bottom: 18px;

      padding: 18px 25px;
      white-space: nowrap;
      background-color: varr.$table-head__bg;
      letter-spacing: 0.75px;
    }
  }

  &__body {
    tr {
      cursor: pointer;
      border-bottom: 0.6px solid rgba(38, 50, 56, 0.26);

      td {
        font-size: 14px;
        line-height: 22px;
        padding: 28px 25px;
        white-space: nowrap;

        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 180px !important;
        letter-spacing: 0.75px;
      }
    }
  }
}

table {
  border-spacing: 0;
}
